{% extends "base.html" %}

{% load static %}

<title>Home Page Template</title>

{% block base_head %}
<link rel="stylesheet"  href='{% static "css/main.css" %}' >

{%endblock %}


{% block content %}
<div class='text-center'>
      <h1 style="color:blue;">{{ title }}</h1>
      <h1 style="color:blue;">Welcome to our Online Pharmacy </h1>
    </div>
   
      <div class='row'>
        <div class='col'>
             <img src="{% static 'img/med.jpg' %}" class='img-fluid' />

          <!-- <p>{{ content }}</p> -->
        </div>  
      </div>
    
  

{% endblock %}

